## Notes for Sqlite

In [1]:
import sqlite3
# create a database
conn=sqlite3.connect('test.db')
# # connect to the db in memory
# conn=sqlite3.connect(':memory:')

create a cursor

In [2]:
c=conn.cursor()

some basic command

In [49]:
# table
c.execute("""CREATE TABLE customers(
        first_name text,
        last_name text,
        email text
)
""")

DataType: Null,Integer,real,text,blob(save as origin datatype, eg figures)

In [50]:
c.execute("INSERT INTO customers VALUES ('feng','ying','fyyy0407@sjtu.edu.cn')")

In [51]:
many_customer=[
    ('kulu','baby','kufy@sjtu.edu.cn'),
    ('stevin','stranger','stevin@sjtu.edu.cn'),
    ('daisy','girl','daisy@ssjtu.edu.cn')
]
c.executemany("Insert INTO customers VALUES (?,?,?)",many_customer)

In [ ]:
# commit our command
conn.commit()

# close  connection
conn.close()

查询表格数据：query

In [ ]:
c.execute("SELECT rowid,*FROM customers")
# print(c.fetchone()[0])
# print(c.fetchmany(2))
# print(c.fetchall())

In [5]:
items=c.fetchall()
for item in items:
    # print(item[0]+" "+item[1]+"\t"+item[2])
    print(item)

In [16]:
c.execute("SELECT*FROM customers WHERE last_name=='ying'")
c.fetchall()

[('linebell', 'ying', 'fyyy0407@sjtu.edu.cn')]

In [7]:
c.execute("SELECT*FROM customers WHERE email LIKE '%sjtu.edu.cn'")
# The % at the beginning of the pattern means that any characters can come before sjtu.edu.cn. 
c.fetchall()

[('kulu', 'baby', 'kufy@sjtu.edu.cn'),
 ('stevin', 'stranger', 'stevin@sjtu.edu.cn'),
 ('daisy', 'girl', 'daisy@ssjtu.edu.cn'),
 ('Bob', 'ying', 'fyyy0407@sjtu.edu.cn')]

In [17]:
# update records
c.execute("""UPDATE customers SET first_name='linebell'
         WHERE last_name=='ying'""")
c.execute("SELECT*FROM customers")
c.fetchall()

[('Bob', 'baby', 'kufy@sjtu.edu.cn'),
 ('Bob', 'stranger', 'stevin@sjtu.edu.cn'),
 ('Bob', 'girl', 'daisy@ssjtu.edu.cn'),
 ('linebell', 'ying', 'fyyy0407@sjtu.edu.cn')]

In [22]:
# Delete record
c.execute("DELETE from customers WHERE email LIKE '%daisy@ssjtu.edu.cn'")
c.execute("SELECT*FROM customers") #一定要有这行
c.fetchall()

[]

In [41]:
# order by
c.execute("SELECT rowid, *FROM customers ORDER BY rowid DESC")
c.fetchall()

[(4, 'linebell', 'ying', 'fyyy0407@sjtu.edu.cn'),
 (2, 'Bob', 'stranger', 'stevin@sjtu.edu.cn'),
 (1, 'Bob', 'baby', 'kufy@sjtu.edu.cn')]

In [43]:
# And / Or
c.execute("SELECT*FROM customers WHERE last_name='baby' OR last_name='ying'")
c.fetchall()

[('Bob', 'baby', 'kufy@sjtu.edu.cn'),
 ('linebell', 'ying', 'fyyy0407@sjtu.edu.cn')]

In [52]:
# limit
c.execute("SELECT*FROM customers LIMIT 1")
c.fetchall()

[('feng', 'ying', 'fyyy0407@sjtu.edu.cn')]

In [47]:
# drop table
c.execute("DROP TABLE customers")

In [61]:
# functions
def show_all():
    # Query the database and return all records
    c.execute("SELECT rowid,*FROM customers")
    items=c.fetchall()
    for item in items:
        print(item)
    conn.commit()
    conn.close()

def add_one(first,last,email):
    # Add a new record to the table
    conn=sqlite3.connect('customer.db')
    c.execute("Insert Into customers VALUES (?,?,?,)",(first,last,email))
    conn.commit()
    conn.close()

def delete_one(first,last,email):
    # Delete a record in the table
    conn=sqlite3.connect('customers.db')
    c.execute("Delete From customers Values (?,?,?)",(first,last,email))
    conn.commit()
    conn.close()

Join tables